apiVersion: v1
kind: Service
metadata:
  name: kafka-svc
  namespace: bigdata-pipeline
spec:
  selector:
    app: kafka
  ports:
    - name: broker
      port: 9092
      targetPort: 9092
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
  namespace: bigdata-pipeline
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
        - name: kafka
          image: confluentinc/cp-kafka:7.6.1
          ports:
            - containerPort: 9092
              name: broker

          
          command: ["bash", "-lc"]
          args:
            - |
              set -euo pipefail
              echo "[kafka] starting via kafka-server-start with mounted server.properties"
              export KAFKA_HEAP_OPTS="-Xms256m -Xmx512m"
              exec kafka-server-start /etc/kafka/server.properties

          resources:
            requests:
              memory: "1Gi"
              cpu: "250m"
            limits:
              memory: "1.5Gi"
              cpu: "1"

          volumeMounts:
            - name: kafka-config
              mountPath: /etc/kafka/server.properties
              subPath: server.properties

      volumes:
        - name: kafka-config
          configMap:
            name: kafka-config
