apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: spark-role
  namespace: bigdata-pipeline
rules:
  # Spark needs to create/list/watch/delete pods/services/configmaps (and sometimes PVCs)
  - apiGroups: [""]
    resources:
      - pods
      - pods/log
      - services
      - configmaps
      - persistentvolumeclaims
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - patch
      - update
      # Required because Spark uses "DELETE ...?labelSelector=..."
      - deletecollection
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: spark-rolebinding
  namespace: bigdata-pipeline
subjects:
  - kind: ServiceAccount
    name: spark
    namespace: bigdata-pipeline
roleRef:
  kind: Role
  name: spark-role
  apiGroup: rbac.authorization.k8s.io
